.container {
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.card {
  flex-shrink: 0;
  margin-bottom: 7rem;
  width: 17rem;
  height: 17rem;
}
.img-card {
  height: 15rem;
  width: 15rem;
}
.card-name {
  font-size: 1.6rem;
  text-transform: capitalize;
}
